.categories {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.categories__heading {
  width: 986px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.categories__title {
  font-size: 1.8em;
  font-weight: 600;
}

.categories__brand {
  color: #017143;
  font-weight: 800;
}

.categories__btn {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.categories__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1em;
  margin-top: 2em;
}

.categories__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5em;
  background: #f4f4f4; /* mặc định nếu không có modifier */
}

.categories__item--1 {
  background: #017143;
}

.categories__item--2 {
  background: #eb7495;
}

.categories__item--3 {
  background: #d752b1;
}

.categories__img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

.categories__name {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 10px;
}

.categories__count {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 1em;
}
