.customers {
  max-width: 968px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.customers__title {
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
}

.customers__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  align-items: center;
  gap: 1.5em;
  margin-top: 2em;
}

.customers__item {
  padding: 20px;
  box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
  border-radius: 0.5em;
  border-bottom: 7px solid #85e385;
  transition: 0.2s all linear;
}

.customers__item:hover {
  transform: translate(10px);
}

.customers__quote-icon {
  font-size: 24px;
  color: #85e385;
}

.customers__rating .fa-star,
.customers__rating .fa-star-half-stroke {
  font-size: 1em;
  color: orange;
}

.customers__text {
  font-size: 0.938em;
  margin-top: 1em;
}

.customers__profile {
  display: flex;
  align-items: center;
  margin-top: 1em;
  column-gap: 0.5em;
}

.customers__profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.customers__profile-name {
  font-size: 0.938em;
  font-weight: 600;
}
