.footer {
  position: relative;
  max-width: 968px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1.5em;
  background: #fef4ea;
  border-radius: 0.5em;
  padding: 20px;
}

.footer a {
  text-decoration: none;
}

.footer a span {
  font-size: 20px;
  position: absolute;
  top: 26px;
  left: 70px;
  font-weight: 600;
  color: #017143;
}

.footer-box .logo img {
  width: 40px;
  height: 40px;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box p {
  font-size: 0.938em;
  margin: 0.5em 0 1em;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.social .fa-facebook,
.fa-instagram,
.fa-youtube {
  padding: 10px;
  background: #fff;
  color: #24cc3a;
  border-radius: 5em;
  font-size: 20px;
}

.social .fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  background: #24cc3a;
  color: #fff;
  transition: 0.2s all linear;
}

.footer-box h2 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 1em;
}

.footer-box a {
  color: #868a92;
  margin-bottom: 1em;
}

.footer-box a:hover {
  color: #eb8f33;
}

.footer-box form {
  border-bottom: 1px solid #868a92;
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.footer-box form input {
  background: transparent;
  border: none;
  outline: none;
  color: #868a92;
}

.footer-box form .fa-envelope {
  font-size: 20px;
  color: #24cc3a;
  cursor: pointer;
}

.footer-box form .fa-arrow-right {
  font-size: 20px;
  color: #eb8f33;
  cursor: pointer;
}

.copyright {
    text-align: center;
    padding: 20px;
    color: #868a92;
}